@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.main-container {
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes display {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.menu .btn-container .btn-commander, .reservation .btn-reservation {
  color: #fff;
  font-size: 1rem;
  background: linear-gradient(#e873da, #a05add);
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 4px 7px #c7c6c6;
  cursor: pointer;
}
.menu .btn-container .btn-commander:hover, .reservation .btn-reservation:hover {
  opacity: 0.7;
}

.menu-header .heart, .restaurants .card .heart {
  margin-right: 20px;
  stroke: #000;
  stroke-width: 50;
  width: 21px;
}
.menu-header .heart:hover rect, .restaurants .card .heart:hover rect {
  transition: 2s ease-out;
  height: 0%;
}
.menu-header .heart rect, .restaurants .card .heart rect {
  transition: 2s ease-out;
  stroke: none;
  stroke-width: 0;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 41px 10px 20px;
  box-shadow: 0px 0px 5px grey;
}
header a {
  margin-right: auto;
}
header a:hover {
  color: #9356DC;
}
@media screen and (min-width: 992px) {
  header {
    padding: 30px;
  }
}
header svg {
  margin-right: auto;
  width: 100%;
}
@media screen and (max-width: 375px) {
  header svg {
    height: 30px;
  }
}

footer {
  padding: 25px;
  background-color: #353535;
  color: #fff;
}
@media screen and (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-top: 65px;
  }
}
footer img {
  margin-bottom: 15px;
  width: 180px;
  filter: invert(99%) sepia(35%) saturate(0%) hue-rotate(123deg) brightness(107%) contrast(100%);
}
@media screen and (max-width: 375px) {
  footer img {
    width: 160px;
  }
}
@media screen and (min-width: 992px) {
  footer img {
    width: 100px;
    margin: 0px 30px 5px 100px;
  }
}
footer i {
  width: 10px;
  margin-right: 10px;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1rem;
}
@media screen and (min-width: 992px) {
  footer .footer-content {
    flex-direction: row;
    gap: 15px;
  }
}
footer .footer-content a {
  cursor: pointer;
}
footer .footer-content a:hover {
  color: #9356DC;
}
footer .footer-content .contact {
  text-decoration: none;
  color: #fff;
}

header {
  padding: 20px 20px 10px 20px;
}

.loader-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  animation: display 3s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #9356DC;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotate 1s linear infinite;
}

.localisation {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #EAEAEA;
  padding: 15px;
}
.localisation-txt {
  font-weight: 500;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.reservation h1 {
  margin: 0px;
}
@media screen and (min-width: 992px) {
  .reservation h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
}
.reservation p {
  font-weight: 300;
  font-size: 1.1rem;
}
.reservation .btn-reservation {
  margin-top: 10px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #ffffff;
}
@media screen and (min-width: 992px) {
  .fonctionnement {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}
@media screen and (min-width: 600px) {
  .fonctionnement {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}
.fonctionnement-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
}
@media screen and (min-width: 992px) {
  .fonctionnement-cards {
    flex-direction: row;
    gap: 32px;
  }
}

.fonctionnement .card {
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 5px 8px 0px #EAEAEA;
  gap: 15px;
  text-align: center;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .fonctionnement .card {
    width: 33.3333333333%;
  }
}
.fonctionnement .card:hover {
  background-color: #f5edff;
}
.fonctionnement .card:hover > i {
  color: #9356DC;
}
.fonctionnement .card .circle {
  margin-left: -35px;
  color: #fff;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-weight: 400;
  text-align: center;
  font-size: 0.8rem;
  background-color: #9356DC;
}
.fonctionnement .card i {
  color: grey;
}

.restaurants {
  padding: 20px;
  padding-top: 30px;
  background-color: #F7F7F7;
  padding-bottom: 50px;
}
.restaurants .dekstop-restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 992px) {
  .restaurants {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}
@media screen and (min-width: 600px) {
  .restaurants {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}
@media screen and (min-width: 992px) {
  .restaurants .dekstop-restaurants {
    display: flex;
    flex-direction: row;
    gap: 90px;
  }
}
@media screen and (min-width: 992px) {
  .restaurants .dekstop-restaurants a {
    width: 50%;
  }
}
.restaurants a {
  color: inherit;
  text-decoration: none;
}
.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 992px) {
  .restaurants-cards {
    gap: 50px;
  }
}

.restaurants .card {
  position: relative;
}
.restaurants .card img {
  object-fit: cover;
  height: 170px;
  object-position: 50% 63%;
  width: 100%;
  display: block;
  border-radius: 20px 20px 0px 0px;
}
.restaurants .card .nouveau {
  position: absolute;
  color: #008766;
  font-weight: 500;
  top: 5%;
  right: 5%;
  padding: 5px 12px;
  border-radius: 2px;
  font-size: 0.9rem;
  width: 60px;
  margin: 0px;
  background-color: #99e2d0;
}
.restaurants .card .card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 10px 8px #EAEAEA;
}
.restaurants .card .card-txt {
  margin: 20px 0px 15px 15px;
}
.restaurants .card .card-title {
  margin: 0px;
  font-size: 1.1rem;
}
.restaurants .card .card-subtitle {
  margin: 0px;
  font-weight: 400;
}
main img {
  width: 100%;
  height: 270px;
  display: block;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  main img {
    height: 350px;
  }
}

.menu {
  position: relative;
  background-color: #F7F7F7;
  padding: 15px;
  bottom: 55px;
  margin-bottom: -55px;
  border-radius: 50px 50px 0px 0px;
}
@media screen and (min-width: 600px) {
  .menu {
    padding: 50px 15% 50px 15%;
    margin-left: 5%;
    margin-right: 5%;
    bottom: 35px;
    margin-bottom: -35px;
  }
}
@media screen and (min-width: 992px) {
  .menu {
    margin-left: 13%;
    margin-right: 13%;
  }
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  .menu-header {
    justify-content: center;
    gap: 20px;
  }
}
.menu-header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.82rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 375px) {
  .menu-header h1 {
    font-size: 1.5rem;
  }
}
.menu .btn-container {
  display: flex;
  justify-content: center;
}
.menu .btn-container .btn-commander {
  padding-left: 50px;
  padding-right: 50px;
}

.menu-title {
  font-weight: 300;
  font-size: 1.1rem;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 13%;
}

.entrees, .plats, .desserts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}
.entrees .card, .plats .card, .desserts .card {
  position: relative;
  overflow: hidden;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px 20px 15px 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 5px 8px 0px #EAEAEA;
  font-weight: 500;
  animation: fadeIn 1s ease-in-out forwards;
}
.entrees .card:nth-child(1), .plats .card:nth-child(1), .desserts .card:nth-child(1) {
  animation-delay: 0s;
}
.entrees .card:nth-child(2), .plats .card:nth-child(2), .desserts .card:nth-child(2) {
  animation-delay: 0.5s;
}
.entrees .card:nth-child(3), .plats .card:nth-child(3), .desserts .card:nth-child(3) {
  animation-delay: 1s;
}
.entrees .card:nth-child(4), .plats .card:nth-child(4), .desserts .card:nth-child(4) {
  animation-delay: 1.5s;
}
.entrees .card .animation-box-slide, .plats .card .animation-box-slide, .desserts .card .animation-box-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 0px 20px 20px 0px;
  top: 0;
  right: -80px;
  width: 80px;
  height: 100%;
  background-color: #99E2D0;
  color: #fff;
  transition: 1s;
}
.entrees .card .animation-box-slide i, .plats .card .animation-box-slide i, .desserts .card .animation-box-slide i {
  transition: transform 500ms;
  font-size: 1.75rem;
}
.entrees .card .price, .plats .card .price, .desserts .card .price {
  position: absolute;
  right: 5%;
  font-weight: 700;
  transition: 650ms ease-out;
}
.entrees .card:hover .animation-box-slide, .plats .card:hover .animation-box-slide, .desserts .card:hover .animation-box-slide {
  transition: 500ms;
  right: 0;
}
.entrees .card:hover .price, .plats .card:hover .price, .desserts .card:hover .price {
  transition: 500ms;
  right: 100px;
}
@media screen and (max-width: 600px) {
  .entrees .card:hover h3, .entrees .card:hover p, .plats .card:hover h3, .plats .card:hover p, .desserts .card:hover h3, .desserts .card:hover p {
    transition: 500ms;
    width: 240px;
  }
}
@media screen and (max-width: 375px) {
  .entrees .card:hover h3, .entrees .card:hover p, .plats .card:hover h3, .plats .card:hover p, .desserts .card:hover h3, .desserts .card:hover p {
    transition: 500ms;
    width: 150px;
  }
}
.entrees .card:hover i, .plats .card:hover i, .desserts .card:hover i {
  transform: rotate(2turn);
}
.entrees .card .menu-name, .plats .card .menu-name, .desserts .card .menu-name {
  line-height: 25px;
}
.entrees .card h3, .entrees .card p, .plats .card h3, .plats .card p, .desserts .card h3, .desserts .card p {
  transition: 500ms;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  .entrees .card h3, .entrees .card p, .plats .card h3, .plats .card p, .desserts .card h3, .desserts .card p {
    width: 300px;
    transition: 500ms;
  }
}
@media screen and (max-width: 375px) {
  .entrees .card h3, .entrees .card p, .plats .card h3, .plats .card p, .desserts .card h3, .desserts .card p {
    width: 220px;
    transition: 500ms;
  }
}
.entrees .card p, .plats .card p, .desserts .card p {
  font-weight: 300;
  font-size: 0.93rem;
}

/*# sourceMappingURL=style.css.map */
