@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";

header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow:0px 0px 2px #000;
}
  