%btn-common{
    color: #fff;
    font-size: 1rem;
    background: linear-gradient(#e873da, #a05add);
    padding:15px 20px;
    border-radius:50px;
    border: none;
    box-shadow: 0px 4px 7px #c7c6c6;
    cursor: pointer;
    &:hover{
        opacity: 0.7;
    }
}