@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes background-animation {
    from {
        width: 0;
    }
    to {
        width:80px;
    }
}
@keyframes margin-animation {
    from{
        margin-right: 0;
    }
    to{
        margin-right:80px;
    }
}

@keyframes width-animation-s-phone {
    from{
        width: 220px;
    }
    to{
        width: 150px;
    }
}

@keyframes width-animation-phone {
    from{
        width: 280px;
    }
    to{
        width: 182px;
    }
}
@keyframes width-animation-tablet {
    from{
        width:280px;
    }
    to{
        width: 210px;
    }
}

@keyframes rotate-animation {
    from{
        rotate: -360deg;
    }
    to{
        rotate: 0deg;
    }
}

@keyframes progressive-fill {
   0%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}