@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes background-animation {
    from {
        width: 0;
    }
    to {
        width: 25%;
    }
}
@keyframes margin-animation {
    from{
        margin-right: 0;
    }
    to{
        margin-right: 25%;
    }
}
@keyframes width-animation-phone {
    from{
        width: 280px;
    }
    to{
        width: calc(280px * 0.65);
    }
}
@keyframes width-animation-tablet {
    from{
        width:280px;
    }
    to{
        width: calc(280px * 0.75);
    }
}

@keyframes rotate-animation {
    from{
        rotate: -360deg;
    }
    to{
        rotate: 0deg;
    }
}