
* {
    font-family: $txt-font-family;
}

body {
    @include flex-center-h-row;
    margin: 0px;
}

.main-container {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
}

h1
{
    font-weight:700;
}