
* {
    font-family: $txt-font-family;
}

body {
    @include flex-center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px;
    box-sizing: border-box;
}