main{
    background-color: #fff;
    flex: 0 1 auto;
    img{
        width: 100%;
        height: 270px;
        display: block;
        object-fit: cover;
        @include desktop-only{
            height: 350px;
        }
    }
}
.menu{
    position: relative;
    background-color: $common-color;
    padding: 15px;
    bottom: 55px;
    margin-bottom: -55px;
    border-radius: 50px 50px 0px 0px;
    @include tablet-only{
        padding: 50px 15% 50px 15%;
        margin-left: 5%;
        margin-right: 5%;
        bottom: 35px;
        margin-bottom: -35px;
    }
    @include desktop-only{
        margin-left: 13%;
        margin-right: 13%;
    }
    &-header{
        @include flex-center-v-row;
        justify-content: space-between;
        @include desktop-only{
            justify-content: center;
            gap: 20px;
        }
        h1{
            @include small-phone-only {
                font-size: 1.5rem;
            }
            font-family: $heading-font-family;
            font-size: 1.82rem;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .heart{
            @extend %heart;
        }
    }
    .btn-container{
        @include flex-center-h-row;
        .btn-commander{
            @extend %btn-common;
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}

.menu-title{
    font-weight: 300;
    font-size: 1.1rem;
    border-bottom: 3px solid $tertiary-color;
    padding-bottom: 5px;
    width: 13%;
}

.entrees, .plats, .desserts{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
    .card{
        position: relative;
        opacity: 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding:15px 20px 15px 10px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 5px 8px 0px $secondary-common-color;
        font-weight: 500;
        animation: fadeIn 1s ease-in-out forwards; 
        @for $i from 1 through $max-children {
            &:nth-child(#{$i}) {
                animation-delay: $delay * ($i - 1);
            }
        }
        .animation-box-slide{
            @include flex-center-all-row;
            position:absolute;
            border-radius:0px 20px 20px 0px;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            background-color: $tertiary-color;
            color:#fff;
            i{
                scale: 0;
                font-size: 1.75rem;
            }
        }
        .price{
            position: absolute;
            right: 5%;
            font-weight: 700;
        }
        &:hover{
            .animation-box-slide{
                animation: background-animation 0.3s forwards;
            }
            .price{
                animation: margin-animation 0.3s forwards;
            }
            h3,p{
                @include phone-only {
                    animation:  width-animation-phone 0.3s forwards;
                }
                @include small-phone-only {
                    animation:  width-animation-s-phone 0.3s forwards;
                }
                @include tablet-only {
                    animation:  width-animation-tablet 0.3s forwards;
                }
                @include desktop-only {
                    animation:  none;
                }
            }
            i{
                scale: 1;
                animation: rotate-animation 0.5s;
            }
        }
        .menu-name{
            line-height: 25px;
        }
        h3,p{
            @include small-phone-only {
                width: 220px;
            }
            margin: 0px;
            overflow: hidden; 
            text-overflow: ellipsis; 
            white-space: nowrap;
        }
        p{
            font-weight: 300;
            font-size: 0.93rem;
        }
    }
}
