@mixin flex-center-h-row {
    display: flex;
    justify-content: center;
}

@mixin flex-center-v-row {
    display: flex;
    align-items: center;
}

@mixin flex-center-h-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-center-all-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card($color:#fff){
    @extend %card;
    background-color:$color;
}