header {
    @include flex-center-all-row;
    padding: 20px 41px 10px 20px;
    box-shadow:0px 0px 5px grey;
    a{  
        margin-right: auto;
        &:hover{
            color: $primary-color;
        }
    }
    @include desktop-only{
        padding: 30px;
    }
    svg{
        margin-right: auto;
        width: 100%;
        @include small-phone-only{
            height: 30px;
        }
    }
}