header {
    @include flex-center-all-row;
    display: flex;
    position: sticky;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow:0px 0px 5px grey;
    a{
        justify-self: flex-start;
        &:hover{
            color: $primary-color;
        }
    }
    @include desktop-only{
        padding: 30px;
    }
    svg{
        @include desktop-only{
            width: 100%;
        }
    }
}